body {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: .010em;
    line-height: 20px;
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
}
